{% extends 'web/base.html' %}
{% load static %}
{% block body %}

<div class="ankita">
    <h3>Behind every successful project is a team of passionate and talented individuals who bring their unique skills and perspectives to the table. <hr>My creative team</h3>
</div>
<div class="container11">
    <div class="profile11">
        <img class="profile-img" src="{%static 'sir.jpeg'%}" alt="ProfileImage">
        <div class="profile-name">
            <p class="user-name">Manthan Joshi</p>
            <p class="user-id">manthan.jashi@slrtce.in</p>
        </div>
        <div class="profile-details">
            <div class="designation">Project guide & Mentor </div>
                <span>Follow:</span>
                <span class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><img src="{% static 'youtube.png'%}" alt="fb"></a>
                    <a href="https://www.istagram.com" target="_blank"><img src="{% static  'instagram.png'%}" alt="insta"></a>
                    <a href="https://www.twitter.com" target="_blank"><img src="{% static 'twitter.png'%}" alt="twitter"></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="aboutcont">
<div class="container11">
    <div class="profile11">
        <img class="profile-img" src="{%static 'ankita.jpeg'%}" alt="ProfileImage">
        <div class="profile-name">
            <p class="user-name">Ankita Gaikwad</p>
            <p class="user-id">ankita.s.gaikwad@slrtce.in</p>
        </div>
        <div class="profile-details">
            <div class="designation">Backend Developer</div>
                <span>Follow:</span>
                <span class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><img src="{%static 'youtube.png'%}" alt="fb"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="{% static 'instagram.png'%}" alt="insta"></a>
                    <a href="https://www.twitter.com" target="_blank"><img src="{% static 'twitter.png'%}" alt="twitter"></a>
                </span>
            </div>
        </div>
    </div>
<div class="container11">
    <div class="profile11">
        <img class="profile-img" src="{%static 'ayu.jpeg'%}" alt="ProfileImage">
        <div class="profile-name">
            <p class="user-name">Ayushree More</p>
            <p class="user-id">Ayushree.m.more@slrtce.in</p>
        </div>
        <div class="profile-details">
            <div class="designation">Frontend Developer</div>
                <span>Follow:</span>
                <span class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><img src="{% static 'youtube.png'%}" alt="fb"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="{% static 'instagram.png'%}" alt="insta"></a>
                    <a href="https://www.twitter.com" target="_blank"><img src="{% static 'twitter.png'%}" alt="twitter"></a>
                </span>
            </div>
        </div>
    </div>
<div class="container11">
    <div class="profile11">
        <img class="profile-img" src="{%static 'meet.jpeg'%}" alt="ProfileImage">
        <div class="profile-name">
            <p class="user-name">Meet Beewal</p>
            <p class="user-id">meet.v.beewal@slrtce.in</p>
        </div>
        <div class="profile-details">
            <div class="designation">Frontend Developer</div>
                <span>Follow:</span>
                <span class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><img src="{% static 'youtube.png'%}" alt="fb"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="{% static 'instagram.png'%}" alt="insta"></a>
                    <a href="https://www.twitter.com" target="_blank"><img src="{% static 'twitter.png'%}" alt="twitter"></a>
                </span>
            </div>
    </div>
</div>
</div>
{% endblock %}