{% extends 'web/base.html' %}
{% load static %}
{% block body %}
<main style="margin: 0 ;" >
    <div class="timetable active" id="timetable">
        <div>
            <h2 style="text-align: center;"> EXAMINATION TIME TABLE SEM 5</h2>
        </div>
        <table >
            <caption1>PROGRAMME - T.E (Information Technology) (Choice Based) (R-19 'C' Scheme)</caption1>
            <tr style="padding:15px;">
                <th>Days/Date</th>
                <th>TIME</th>
                <th>Paper Code</th>
                <th>Paper</th>
               
            </tr>
            <tr style="padding:15px;">
                <td class="Data">Monday, 11 November, 2024</td>
                <td>2:30pm - 5:30pm</td>
                <td >32421</td>
                <td>INTERNET PROGRAMMING</td>
            </tr>

            <tr style="padding:15px;">
                <td class="Data">Wednesday, 13 November, 2024</td>
                <td>2:30pm - 5:30pm</td>
                <td >32422</td>
                <td>Computer Network and Security</td>
            </tr>

            <tr style="padding:15px;">
                <td class="Data">Monday, 18 November, 2024</td>
                <td>2:30pm - 5:30pm</td>
                <td >32423</td>
                <td>Enterpreneurship And E-Business</td>
            </tr>

            <tr style="padding:15px;">
                <td class="Data">Wednesday, 12 November, 2024</td>
                <td>2:30pm - 5:30pm</td>
                <td >32424</td>
                <td>Software Engineering</td>
            </tr>

            <tr style="padding:15px;">
                <td class="Data">Monday, 11 November, 2024</td>
                <td>2:30pm - 5:30pm</td>
                <td >32421</td>
                <td>Advance Data Structure and Analysis</td>
            </tr>
        </table>
    </div>
</main>
{% endblock %}