{% extends 'web/base.html' %}
{% load static %}
{% block body %}
   

<div class="humanities-section"  style="color:black;">

    <h1 class="humanities-title"> Pathways to Financial Support: Grants, Scholarships, and Aid</h1>
    <p class="humanities-description">Describe the different types of financial aid available:
        Scholarships: Merit-based, need-based, athletic, arts, or minority scholarships.
        Fellowships: State or institutional scholarships for economically disadvantaged students. Student Loans: Low or
        no interest student loan options.
        Work-Study Program: Part-time employment opportunities offered by educational institutions. Private sponsorship:
        Funds provided by NGOs, private companies, or individuals to support education.
    </p>
    <div class="humanities-content">
        <div class="humanities-disciplines">
            <p class="discipline-text"><strong>Scholarship Opportunities</strong><strong>Government
                Scholarships:</strong>Post-Mastery Scholarship (PMS): Scholarships for students from minority
            communities, SC/ST and OBC categories offered by the Central and State Governments.
            National Scholarship Portal (NSP): A one-stop platform for various scholarships offered by the
            Government of India, including for different levels of education and courses.
            PM Scholarship Scheme (PMSS): Available for ex-servicemen and military mentors.</p>

            <p class="discipline-text"><strong>Private Scholarships:</strong> Tata Trusts Scholarship: Financial assistance
                to students pursuing higher education in various fields like Engineering, Medicine, Social Sciences etc.
                Aditya Birla Scholarship: Merit scholarship for students pursuing professional courses.
                HDFC Bank Parivartan Scholarship: Financial assistance to underprivileged students at all educational
                levels.
                L'Oreal India Young Women Scientists Scholarship: Scholarships for young women studying in science fields.
            </p>
            <p class="discipline-text"><strong>Corporate Scholarships:</strong> Infosys Foundation Scholarship: Supports
                underprivileged students in computer science and engineering.
                Google India Scholarship: STEM Zone, especially female students.
            </p>
            <p class="discipline-text"><strong>Scholarship Eligibility Criteria</strong> Merit-Based Scholarships: Academic
                achievement, standardized test scores, and overall success.
            </p>
            
        </div>
        <div class="humanities-image-container">
            <img src="{% static 'Scholarship3.jpg'%}" alt="Humanities Illustration" class="humanities-image">
        </div>
    </div>


            <h2 class="disciplines-title">Need-Based Scholarships:</h2>
            <p class="discipline-text"><strong>Need-Based Scholarships:</strong> Information about family income, economic
                situation, and sometimes geographic location. Category-specific scholarships: Scholarships specifically
                targeted at SC/ST/OBC, minority groups, women, students with disabilities, marginalized communities.
                Course-specific scholarships: These are for students studying specific disciplines such as Engineering,
                Medicine, Science, Humanities, etc.
            </p>
            <p class="discipline-text"><strong>JHow to ask for scholarships
                </strong>steple request process:</p>
            <p class="discipline-text">Search scholarships: Use research tools to find scholarships that correspond to the
                student profile (merit, need or specific for the course). Check Eligibility: Review the eligibility criteria
                and prepare the required documents (tax returns, school records, etc.).
                Register Online: Register on platforms such as the national scholarship portal or a dedicated website of a
                private/corporate scholarship provider. Fill out the request form: Fill out the form with specific details,
                including personal, academic and financial information.
                Download documents: Send the necessary documents (proof of identification, income certificates, marking,
                letters of recommendation). Submit and track your application: Submit your application and monitor its
                status regularly.
                Application Deadlines: We provide a list of key application deadlines for popular scholarships to help
                students stay on track with their application timeline. </p>
    
            <p class="discipline-text"><strong> Documents required to receive financial assistance</strong> Managing public
                sector organizations and implementing
                policies that enhance community welfare..</p>
            <p class="discipline-text"><strong>Personal details:</strong>
            <p class="discipline-text">Aadhaar card, birth certificate, passport size photographs. Academic records:
                transcripts, report cards and proof of enrollment.
                :</p>
            <p class="discipline-text"><strong> HIncome certificates:</strong> family income certificate issued by local
                authorities. Caste/Category Certificate (if applicable): SC/ST/OBC or Minority Certificate as required for
                specific scholarship.</p>
            <p class="discipline-text"><strong>Geography:</strong> Gain insights into cultural and physical landscapes,
                fostering a
                global perspective.</p>
            <p class="discipline-text"><strong>family income certificate issued by local authorities. Caste/Category
                    Certificate (if applicable): SC/ST/OBC or Minority Certificate as required for specific scholarship.
                </strong> Enhance communication skills and cultural awareness through the
                study of multiple languages, which is vital for understanding diverse populations.</p>
        
<div class="humanities-section"style="color:black;">
<h1 class="humanities-title"style="color:black;">Bank Details For direct remittance of scholarship</h1>
<div class="humanities-content"style="color:black;">
    <div class="humanities-disciplines">
        <h2 class="disciplines-title">Student Loans and Repayment Plans
        </h2>
        <p class="discipline-text"><strong>Overview of student loan options:</strong></p>
        <p class="discipline-text">Information on loans offered by nationalized banks, private institutions, and
            government programs such as:
            Vidya Lakshmi Portal: A government platform that provides access to various student loan schemes.
            Central Sector Interest Subsidy Scheme: The government subsidizes the interest on loans granted to
            students from economically weaker sections.</p>
        <p class="discipline-text"><strong>Loan Repayment Options: Grace Periods: </strong>Explanation of repayment
            grace periods (6 months to 1 year after graduation). Flexible repayment plans: EMI options based on
            post-graduation income, government repayment assistance programs, and deferral options in case of
            financial hardship.
        </p>
        <p class="discipline-text"><strong>Financial Planning and Budgeting Tools</strong> Budget Calculators:
            Interactive tools to help students plan monthly expenses, balance tuition fees, and estimate living
            expenses.

        </p>
    </div>
    <div class="humanities-image-container">
        <img src="{% static 'Scholarship2.jpg'%}" alt="Humanities Illustration" class="humanities-image">
    </div>
</div>
<h2 class="disciplines-title" >Financial Aid FAQ Section: </h2>
<p class="discipline-text">
<p class="discipline-text"><strong>Engineer: </strong> Common Questions: Provide answers to common questions, such
    as:
    “How do I know if I am eligible for a scholarship?”
    “What if I miss a deadline?”
    “Can I apply for more than one scholarship?”
    “What happens if I default on my student loans?”
    “Is there financial aid available for students from remote or rural areas?”


</p>
<p class="discipline-text"><strong>Case Studies:
    </strong> Share real-life stories of students who successfully received scholarships and financial aid and
    explain how it helped them further their education.

</p>
<p class="discipline-text"><strong>Video Testimonials:</strong>Feature videos of students and their families sharing
    the impact scholarships and loans have had on their lives and education.
</p>
<p class="discipline-text"><strong>Hotline and Support
    </strong> Financial Aid Hotline: Offer a contact form or live chat for students who need help with financial aid
    applications, scholarships, or loan issues. Counseling Services: We provide access to financial advisors who can
    help students understand their options and complete their applications.</p>
<h2 class="disciplines-title">Regular Updates and Notifications.
</h2>
<p class="discipline-text">Scholarship Alerts: Provide students with the opportunity to sign up for notifications
    about upcoming scholarships, upcoming deadlines, and new financial aid programs.
    Financial Aid Tips Blog: Post articles about new scholarships, how to write a persuasive scholarship essay, and
    updates on changes in government programs and policies.
</p>
</p>
</div>
    {% endblock %}